// PLACE VARIABLES HERE IF YOU WISH. IT IS A GOOD PRACTICE TO DECLARE YOUR VARIABLES IN ONE PLACE. YOU DO NOT HAVE TO, BUT IT COULD MAKE THINGS EASIER FOR YOU.

$your-variable: #000;
$header-link-color: #fff;
$header-link-hover-color: #ff0000;
$orange: #ef9e5a;
$white: #fff;
$teal:#1ebcb3;

// END VARIABLES

html, body {
    height: 100%;
    min-height: 100vh;
}


// OVERWRITE BOOTSTRAP ROW MARGINS




//OVERWRITE BOOTSTRAP COL PADDING

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    /*padding-left: 0px !important;*/
  /*  padding-right: 0px !important;*/
}


h1.home {

a {
    
    color:$teal;
    font-size: 32px;
    margin-top: 0px;
}   

}


h1  {
    
 a   {
 
    color:$teal;
    }
}




h2{
   
        color: $orange;
    font-size: 1.6em;
    
    a {
      
         color: $orange;
         font-size:1em;

    }
    
   
}
 
    
h3{
    color: #777;
    font-size: 1.9em;
    
    a {

    color: $teal;
    font-size: .9em;
        }
}

   
    
 h3.panel-title {
        font-size:1.7em;
    }

h4 {
    

     color: #fff;
    font-size: 2.4em;
    
  a  {
       color: #fff;

    }
}


h4 a:hover {
    color: #F98608;
}


h5 {
    font-weight: 100;
    font-size: 2.1em;
}

address

{
    line-height: 1.5;
}

section {
    
    padding:60px 0px;
}


.norm_font_weight {
    
    font-weight: 100;
}



.opacity_90 

{
     opacity: 0.9;
    
    p,h1,h2,h3,h4,h5
    
    {
        opacity: 1;
    }
}



.header_font_title {
    
    
    font-family: 'Arvo', 'Georgia', serif;
    font-size: 1.8em;
    font-weight:800;
    line-height: 1.1em;

}

section.no_section_pad

{
    padding:inherit;
}

.breadcrumb {
    background-color: #fff;
    padding: 20px 15px;
    font-size: 1.2em;
    font-weight: 600;
}

.breadcrumb a, .breadcrumb a:visited, .breadcrumb a:hover, .breadcrumb > a:active {
    color: #999;
}

.display_inline > li {
    display: inline;
}

.breadcrumb > li + li:before {
    content: ">";
    font-size: 1.2em;
}

p.protract:before, p.trophy:before, p.pencil:before {
    content: "";
    display: block;
    background: url("../img/atom.png") no-repeat;
    width: 42px;
    height: 110px;
    float: left;
    margin: 0 6px 4px 0;
}

p.protract:before {
    background: url("../img/protract.png") no-repeat;
}

p.trophy:before {
    background: url("../img/trophy.png") no-repeat;
}

p.pencil:before {
    background: url("../img/tools_pencil_ruler.png") no-repeat;
}

p

{
    color:#696868;
}


h1.pencil_icon

{
    margin-bottom: 20px;
}






h1.pencil_icon:before {

    content: "";
    display: block;
    background: url("../img/pen_icon.png") no-repeat;
    width: 70px;
    height: 70px;
    float: left;
    margin: -16px 6px 4px 0;
}



h1.home_adjust

{
    
    margin-bottom: -15px;
    min-height: 70px;
}



     .doe-logo {
        margin-top:-23%;
       
         
    }




h1,h2,h3,h4

{
   font-family: 'Arvo', 'Georgia', serif !important;
    font-weight: 700;
    letter-spacing: 1px;
}

h2.aligning {
    margin-left: -30px;
    margin-bottom: 30px;
    
}

.display_inline {
    float: left;
}

.btn-primary {
    display: inline-block;
    zoom: 1;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #fef4e9;
    background-color: $orange;
    text-transform: none;
    border-color: transparent;
}

.btn-primary:hover {
    background-color: #ffc272;
}



.orange_divider {
    
    width: 100%;
    height:10px;
    background-color: $orange;
}
.aqua, .aqua a {
    color: #6ACEC9;
    font-size: 1.1em;
    margin-top: 6px;
}

.display_inline.aqua li:first-child:after {
    content: "|";
    margin-left: 20px;
}

.panel-heading {
    background-color: $teal !important;
    height: 85px;
    border-top-right-radius: 80px;
    color: #fff !important;
    padding-left: 40px;
    padding-top: 20px;
}

.side.panel-body p {
    padding-left: 30px;
    padding-top: 8px;
    padding-right: 10px;
}

/* this is for the orange and green boxes on the side. it automatically switches the color from orange to green at every other box*/
.pos_side > .panel.panel-default:nth-child(odd) .panel-heading {
    background-color: $orange !important;
    color: #fff !important;
}


.panel-heading h4 {
    font-size: .81em;
    color: #fff;
    text-transform: uppercase;
    margin-top: 3px;
}

.panel-default.side {
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    min-height: 230px;
    -webkit-box-shadow: 10px 10px 0px -2px rgba(30, 180, 176, 1);
    -moz-box-shadow: 10px 10px 0px -2px rgba(30, 180, 176, 1);
    box-shadow: 10px 10px 0px -2px rgba(30, 180, 176, 1);
    max-width: 340px;
}

.fa.fa-arrow-right {
    color: $orange !important;
}

.pos_side {
    margin-top: 30px;
}

.bottom_panel {
    margin-top: 100px;
}

#y4y-main-wrap {
   padding-bottom: 100px;
    padding-top: 30px;
    
   
}

.doe-logo {
    transform: scale(0.5);
    margin-left: -25%;
}

.newsletter {
    width: 200px;
    margin-bottom: 20px;
    font-size: 2.0em;
}



ol.display_inline.aqua.top {
    padding-left: 0px;
}

.display_inline .top {
    width: 146px;
}

.adjust_input {
    margin-top: 8px;
}

.icon_pos {
    float: left;
}

.p_icon {
    margin-left: 60px;
    margin-bottom: 20px;
}


.search {
    position: relative;
    top: 25px;
    width: 100%;
}

.input-search{
	width:100%;
	max-width:350px;
    border:solid 2px #bcbcbc;
}

.btn-clear{
	background-color:#fff;
	border:none;
	color:#838282;
	position:relative;
	left:-40px;
}

.btn-clear.sub {
    left:-30px;
}


#y4y-home {
    
    .logo_pos
    {
    margin-top: -36%;
    margin-left: 8%;
    transform: scale(1.1, 1.1);
    }
    
    .input-search{
    border: solid 3px #399A9A;
    background-color: #88827E;
     
        
    }

    .doe-logo {
        margin-top:-40%;
    }

    
    .header_font
    
    {
        font-size: 2.0em;
        color: #fff;
        top: 60%;
    }
    
    
    .color_aqua {
    background-color: $teal;
        height:700px;
}
    .aqua_background_small
    {
        background-color: $teal;
        overflow: auto;
        padding:30px 0px;
        
        h2
        {
            margin-top: 0px;
        }
    }
    
    .legend_box {
        
        min-width: 290px;
        min-height: 200px;
        background-color: #fff;
        margin: 0px auto;
        border: solid #000 1px;
        
        h5
        {
            font-weight: 100;
            font-size: 2.1em;
        }
        
    }
    
    
    
    
    .color_white
    
    {
        background-color: #fff;
        margin: 0 auto;
        width:100%;
        
    }
    
    .inline
    
    {
        display: inline;
    }
    
    
    
    .row_bottom_border .row {
    
        border-bottom: 1px solid #afafaf;
    }
    
     .row_bottom_border .row:last-child {
    
        border-bottom: 0px;
    }
    
    
    .circle
    
    {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: $teal;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        margin-top: 30px;
    }
    
    .header_font
    
    {
        font-family: 'Muli', sans-serif;
        padding:20px;
    }
    

    
}
p.center

{
    text-align: center;
    padding-top: 30px;
   
}

p.center:last-child

{
     padding-bottom: 40px;
}

.desc

{
    padding:20px;
    
    
}

.orange_grad

{

background: rgba(240,160,89,1);
background: -moz-linear-gradient(left, rgba(240,160,89,1) 0%, rgba(253,188,64,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,160,89,1)), color-stop(100%, rgba(253,188,64,1)));
background: -webkit-linear-gradient(left, rgba(240,160,89,1) 0%, rgba(253,188,64,1) 100%);
background: -o-linear-gradient(left, rgba(240,160,89,1) 0%, rgba(253,188,64,1) 100%);
background: -ms-linear-gradient(left, rgba(240,160,89,1) 0%, rgba(253,188,64,1) 100%);
background: linear-gradient(to right, rgba(240,160,89,1) 0%, rgba(253,188,64,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0a059', endColorstr='#fdbc40', GradientType=1 );
    overflow: hidden;
    
    
    p
    
    {
        color: #fff;
        padding-bottom: 30px;
    }
    
    
    .comp_teal
    
    {
          transform: scale(.6);
        position: absolute;
            margin-left: -215px;
         margin-top: -220px;
    }
    }


.padding_home {
    
    padding-left: 56px;
    padding-top: 8px;
}

.no_marg_bottom

{
    margin-bottom: 0px;
}

hr {
width: 60% !important;
margin-left: auto;
margin-right: auto;
    float:none !important;

}



.feed_item

{
    margin-bottom: 40px;
    
    h3
    
    {
        margin-top: 28px;

        font-size: 1.1em;
        text-transform: uppercase;
         color: #585757;
         font-family: sans-serif !important;


        
        a {

        margin-bottom: 2px;
        font-size: 1.1em;
        text-transform: uppercase;
         color: #585757;
            
            
            &:hover {
                
               text-decoration: underline; 
                
            }
            
        }
    }
    }
    
   
    
     h3 a:hover
    
    {
        text-decoration: underline;
    }


.header_font_contacts {
    
    position: absolute;
    font-size: 1.7em;
    left:6%;
    margin-top:-22%;
    color: #fff;
}


.petal_first img


{
    
    margin-top: -120px;
    margin-left: -1%;
    transform: scale(.85);

}


.petal_second {
    width: 400px;
    background-color: #ef9e5a;
    z-index: 10;
    display: inline-block;
    border-top-right-radius: 230px;
    border-bottom-left-radius: 230px;
    height: 505px;
    width: 310px;
    color: #D8D6D6;
    z-index: 30;
    min-height: inherit;
    -webkit-box-shadow: 10px 10px 5px 0px #137c80;
    -moz-box-shadow: 10px 10px 5px 0px #137c80;
    box-shadow: 10px 10px 5px 0px #137c80;
    display: inline-block;
    margin-top: 70px;
    margin-left: -12%;
    padding-top: 20px;



    
    

h1 {

    font-size: .95em;
}
    
    .nav_two_line
    
    {
        margin-top: -6px;
    }
    
    
    .nav_three_line 
    
    {
        margin-top:-16px;
    }
   
}

.petal_third img

{
    right: -4%;
    transform: scale(.9);
    margin-top: 168px;

}

.pos_petal {
    
    display: inline-block;
    position: absolute;
    
}


.pad_20

{
    
padding: 20px;
}

.pad_40

{
    padding:40px;
}




.btn-clear

{
    background:transparent;
    border:none;
}


.home_text

{
    position: absolute;
    right: 35%;
    font-size:2.7em;
    font-family: 'Arvo', serif !important;
    font-weight: 600;
}

.navstylenum

{
    font-size: 2em;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border: 4px solid $orange;
    color:$orange;
    float: left;
    border-radius: 50px;
    font-size: 5rem;
    text-align: center;
    vertical-align: middle;
    /* line-height: 85px; */
    margin-bottom: 4%;
    margin-left:-70px;
    z-index: 12;
    position: absolute;
}

ul.navstyle li

{
    list-style: none;
    color:#fff;
    list-style-type: none;
    margin-bottom: 15px;

}

.navstylecont {
    display: inline-block;
    font-size: 2.5rem;
    min-height: 5%;
    min-width: 200px;
    margin-left: 0px;
    position: absolute;
    margin-top: 30px;
 

    
    h1 
    {
        margin-top:10px;
           color:#fff;


a:hover .navstylecont 

{
    color:#fffa6b;
}

    }
    
}

.navstyle

{
    margin-top: 58px;
}

.orange_grad h2 a, .orange_grad h2

{
    color:#000;
    font-size: 1.35em;
    
    
 a   {
        color:#000;
    }
}


.orange_grad p

{
    max-width:710px;
}

/* for the nav buttons on the home page*/


.pngButton {
  background:url('../img/woman_short_hair_icon.png') no-repeat #fff;
height: 97px;
    width: 97px;
  display:block;
  cursor:pointer;
  border-radius: 50%;
  background-position: 43% 105%; 
    border: solid 2px $orange;
    display: inline-block;
    transform: scale(.87)
}
.pngButton:hover {
  background-color:#fffa6b;
}
.pngButton P {
  padding:0 20px;
}


.youth

{
      background:url('../img/woman_pony_tail_icon.png') no-repeat #fff;
      background-position: 55% 105%;
}

.state


{
    background:url('../img/man_beard_icon.png') no-repeat #fff;
    background-position: 89% 105%;


}

ul.home_nav

{
    position: absolute;
    margin-left: -124px;
}


.btn-secondary


{
    
    margin-left:0px;
    border: solid 2px #9D9D9D;
    height: 38px;
    color:#888888;
    font-size: 1.1em;
    background-color: #595959;
    margin-bottom: 20px;
    line-height: .7;
    
}


.icon_size

{
    transform: scale(.4);
    margin-bottom:-50px;
}

.footerlogos img {
    max-width: 60px;
    margin-top: -15px;
}

.blog_pad {
    padding-right:20px;
}


.label_side_panel
{
    color:$orange;
    font-size: 1.1em;
    margin-top:2px;
    font-family: 'Arvo', 'Georgia', serif !important;
}

.side_panel_link {
    font-family: 'Arvo', 'Georgia', serif !important;
    color:$orange;
    font-weight: bold;
    border-bottom:solid 1px #ccc;
}


.side_panel_link a

{
    color: $orange
}

.side_panel_link:last-child 

{
    border-bottom: 0px;
}

.rm_row_margin {
    
    margin-left: auto;
    margin-right: auto;
}


.legend {
    
    height: 20px;
    width: 20px;
    background-color: #555;
    float: left;
    margin-right:10px;
    
 
}

.center_legend

{
    margin: 0 auto;
    width: 70%;
    padding-top: 3%;
}

.legend_text

{
    clear: right;
     margin-bottom: 10px;
}

.aqua_background {
    
    background-color: $teal;
}

.blue {
    background-color: #3454D0;
    
}

.purple {
    background-color: #8449B3;
    
}

.gray {
    background-color: #DEDEDE;
}


.orange {
    background-color: $orange;
    
}

.green {
    background-color: #51AC48;
}



.header_contacts

{
    color: #696868;
    font-family: 'Arvo', 'Georgia', serif !important;
    font-size: 1.3em;
    font-weight: 800;
    
  
}

.university_contacts

{
    color: #777;
    font-size:1.6em;
    font-weight: 700;
  
}

.details_button

{
    background-color: $teal;
    color: #fff;
    border-bottom: none;
    border-radius: 0px;
    font-weight: 500;
    min-width: 167px;
    font-size: 1.6em;
    letter-spacing: 1px;
    padding: 4px 15px;
   
}

.details_button:active,.details_button:focus,.details_button:hover

{
    background-color: #11a399;
}

.vert_center {
    margin-top: 4%;
    
}

.background_color_gray {
    
    background-color: #f3f3f3;
}

.background_color_dk_gray {
    background-color: #c2c2c2;
}


.size_70

{
    max-width: 70%;
}




/* target firefox only*/

/*@-moz-document url-prefix() { 
  
     .navstylecont
      
      {
          margin-top: 30px;
          margin-left:30px;
      }
  
}


/* targets safari 7.1 and up*/
/*_::-webkit-full-page-media, _:future, :root {
    
    
        .navstylecont {
    
          margin-top: 30px;
          margin-left:30px;
      }
}

*/

@media screen and (-webkit-min-device-pixel-ratio:0) /* targets chrome only*/
{ 
    
     .navstylecont {
    
  
         margin-top: -80px;
         margin-left: 48px;
      }
}


@supports (overflow:-webkit-marquee) and (justify-content:inherit) /*targets safari*/
{

    .navstylecont {
        margin-left: 0px;
        margin-top: 28px;
    }

}






/*.search {
    position: relative;
    top: 25px;
width:100%;
}

.input-search{
width:100%;
max-width:350px;
}

.btn-clear{
background-color:#fff;
border:none;
color:#838282;
position:relative;
left:-30px;
background:transparent;
}*/
// YOU CAN DECLARE REUSABLE CLASSES HERE
