#y4y-home {
.doe-logo {
    transform: scale(0.5);
    margin-left: -27px;
    margin-top: -26px;
}
    
    .logo_home.logo_pos {
    margin-top: -25%;
    transform: scale(0.65);
    margin-left: -9%;
    }
    
    .search.text-nowrap .input-search

{
    margin-left: -20px;
    
    }
}

 .header_font_contacts {
    left: 7%;
    font-size: .9em;
    margin-top: -26%;
}
    

.doe-logo {
    transform: scale(0.4);
    margin-left: -2%;
    margin-top: -3%;
}

a.leaf-btn {
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
}

h2.aligning {
    margin-left: -2px;
}



.display_inline > li {
    padding: 0px;
}

.breadcrumb {
    margin-top: 10px;
    font-weight: normal;
}


.display_inline.aqua:first-child:after {
    margin-left: 4px;
}

.btn.btn-primary {
    width: 74px;
    font-size: .9em;
    margin-left: 12px;
}

.adjust_input {
    margin-top: 8px;
}

.search-query.form-control.top.adjust_input {
    max-width: 310px;
    margin-left: 10px;
}

ol.display_inline.aqua.top {
    padding-left: 15px;
}

h2 {
    font-size: 1.6em;
}

h4 {
    padding-bottom: 20px;
  
}

.head-icon h4 {
    font-size: 1.3em;
    padding-bottom: 0px;
    padding-top: 25px;
}

.pos_side {
    margin-left: 20%;
}

.last_footer {
    margin-bottom: 30px;
}

.home_text {
    
    right: 40%;
    
}


.petal_second

{
    margin-left:5%;
}


.pos_petal

{
    display: none;
}


.vert_center

{
    margin-top: 10%;
}

//safari IOS hack

@supports (-webkit-text-size-adjust:none) and (not (-ms-accelerator:true)) and (not (-moz-appearance:none)) { 
.btn-clear.sub {
    left:-40px;
    }
}




@media screen and (max-width: 600px) {
    h2.aligning:before {
        margin-top: 0px;
    }

    h2.aligning {
        padding-bottom: 20px;
    }

    .pos_side {
        margin-left: 15%;
    }
    
    
 
  
    
    
    
    
    #y4y-home {



.logo_pos {
    transform: scale(0.6);
    margin-left: -11%;
    
    }
        
        .search.text-nowrap .input-search

{
    margin-left: -20px;
    width: 258px;
}
    
    
}
    
    
   .header_font_contacts
    
    {
           margin-top: -19%;
           font-size: .7em;
           left: 11%;
    }
    
}

@media screen and (max-width: 480px) {
    h2.aligning:before {
        margin-top: 0px;
    }

    h2.aligning {
        padding-bottom: 20px;
    }

    .pos_side {
        margin-left: auto;
    }
    
    .petal_second
    
    {
       /* transform: scale(.9);
        margin-left: -9%;*/
        
        
        margin:0 auto;
        transform: scale(.79);
        margin-left: -2%;
    }
    
    .home_text {
    font-size: 1.8em;
        
    }
    
    #y4y-home 
{
 .logo_home.logo_pos
    {
    transform: scale(0.5);
    margin-left: -95px;
    margin-top: -35%;
}
    
  
    }
    
    
    .padding_home
    
    {
        padding-left: 0px;
    }
   
    .p_icon

{
    display: block;
    margin: 0px;
}
.icon_pos img

{
    padding-right: 13px;
}
    
    .desc
    
    {
        padding: 0px 0px 20px 0px;
    }
    

    
    
   
    
.fix_input_size_xs.input-search{
width: 85%;
}
    
       .header_font_contacts
    
    {
        margin-top:-18%;
        font-size: .6em;
        left:5%;
    }
}


.legend_box 

{
    margin-bottom: 30px !important;
}

@supports (-webkit-text-size-adjust:none) and (not (-ms-accelerator:true)) and (not (-moz-appearance:none)) { 
.btn-clear.sub {
    left: -37px;
}

    .fix_input_size_xs.input-search {
        width:90%;
    }
}

