.display_inline.aqua.top {
    margin-top: 20px;
}

.adjust_search {
    margin-top: 22px;
}

.search-query.form-control.top.adjust_input {
    max-width: 346px;
    margin-top: 22px;
}

.search.text-nowrap .input-search

{
    width: 160px;
    margin-left: 0px;
}


.pos_petal

{
    display: inline;
}

.home_text

{
    right:42%;
}


.petal_second

{
    
    margin-left: -4%;
}

.orange_grad .comp_teal {
    
    transform: scale(.5);
    margin-left: -215px;
    margin-top: -270px;
    
}

.btn-secondary {
    height: 33px;
    line-height: .4;
}


.header_font_contacts  {
    left: 10%;
    font-size: 1.6em;
}






@media screen and (min-width: 1600px) {
 
    
    #y4y-home 

{
    
    .logo_pos
    {
        transform: scale(1.5);
    }
    
    .header_font {
    font-size: 2.5em;
    margin-left: 65px;
}

    
    
}
    
    .header_font_contacts  {
    left: 6%;
    font-size: 2em;
}
    
}


