

#y4y-home {
    
    .search .input-search

{
    margin-left: -15px;
}
    
}

h2.aligning {
    margin-left: 0px;
}

.btn.btn-primary {
    width: 78px;
    font-size: .9em;
    margin-left: 20px;
}

.searchsubmit {
    top: 14px;
    right: 355px;
}

.petal_second{
    margin-left:-1%;
}


h2.aligning:before {
    margin-top: 0px;
}

.search-query.form-control.top.adjust_input {
    max-width: 346px;
}


.search.text-nowrap .input-search

{
    margin-top: 10px;
    width: 260px;
}


.pos_petal

{
    display: none;
}



.home_text {
    
    right: 44%;
    
}

.search.text-nowrap .input-search 
{
    margin-top: inherit;
}

.blog_pad 

{
    padding-right:0px;
}

.header_font_contacts {
    font-size: 1em;
    margin-top:-21%;
}

.vert_center

{
    margin-top: 8%;
}



.legend_box 

{
    margin-bottom: 30px !important;
}


    