.header_font {
    font-size: 1.1em;
}

.btn.btn-primary {
    width: 78px;
    font-size: .9em;
    margin-left: 20px;
}

h2.aligning:before {
    margin-top: -15px;
}

.petal_second {
  margin-top: 70px;
    margin-left: -1%;
}


.orange_grad {
    
    
        .comp_teal
    
    {
        position: absolute;
        margin-left: -215px;
       margin-top: -220px;
      transform: scale(.4);
      position: absolute;
     margin-left: 43%; 
     margin-top: -71%; 
    transform: scale(.4);
    }
}


.home_text {
    right: 46.5%;
}

.blog_pad 

{
    padding-right:20px;
}

.header_font_contacts {
    left: 6%;
    font-size: 1.2em;
    margin-top: -20%;
}

.vert_center

{
    margin-top: 4%;
}