.y4y-main-footer {
    .col-sm-6 {
        min-height: 0px;
    }

    .color_p {
        padding: 38px 8px;
    }

    .last_footer {
        margin-bottom: 50px;
    }
    
    .footer_orange
    
    {
        
        
        min-height:170px;
        padding: 40px;

        
        
        .adjust_small {
            
            text-align: center;
        }
        
         .adjust_small {
            
            text-align: center;
        }
    }
    
     .subscribe


{
    width:140px !important;
}


}


