.logo_pos {
    transform: scale(.9);
    left: 4%;

    margin-top: -12%;

}

.header_font {
    font-size: 1.4em;
}


#y4y-home {

.doe-logo {
	margin-top: -25%;
}
}


.img_header

{
    margin-top:0px;
}

.logo_pos222 {
    top: 34px;
 }   

 .y4y-main-header .img-responsive {
    padding-top: 0;
}