.header_font {
    font-size: 1.3em;
    margin-top: 20px;
}


.y4y-main-header {

.header_font.sub {
    font-size: 1em;
    top: 52%;
    left: 18px;
}
}


#y4y-home .logo_home.logo_pos {
    margin-top: -46%;
    margin-left: -22px;
}

.breadcrumb {
    padding-bottom: 0px;
}

 .logo_pos {
     
     margin-top: -240px;
     margin-left:-12px;
     transform: scale(0.8);
     
}

#y4y-home .header_font {
    margin-top: -9px !important;
}

#y4y-home .pos_button {
    margin-top: -22px;
    margin-left: -20px;
}

@media screen and (max-width: 600px) {
    .logo_pos {
       transform: scale(0.7);
    margin-left: -34px;
    margin-top: -210px;
    }

    #y4y-home .header_font {
    font-size: 1.1em !important;
}

.y4y-main-header .header_font.sub {
    font-size: 1em;
    top: 39%;
    left: 16px;
}
   
       .header_font.sub {
        
      //  display: none !important;
    }

}

@media screen and (max-width: 480px) {
    .logo_pos {
    transform: scale(0.35);
    margin-left: -125px;
    margin-top: -210px;
     }
    .logo_home.logo_pos {
        margin-top: -50%;
        margin-left: -86px !important;
     }

.y4y-main-header .header_font.sub {
    font-size: 0.7em;
    top: 37%;
    left: 15px;
}

 #y4y-home .header_font {
    font-size: .9em !important;
    margin-left: -20px;
    margin-top:-20px;
}

#y4y-home .logo_pos {
    margin-left: -86px;
}

}



@media screen and (max-width: 390px) {
    .logo_pos {
    margin-top: -190px;
     }

.y4y-main-header .header_font.sub{
  top: 31%;
}

#y4y-home .header_font {
  font-size: .8em !important;
  margin-top: -14px !important;

}    

    #y4y-home {
        
           .logo_home.logo_pos {
       margin-top: -54%;
       margin-left:-95px;
    }


     }
    
    .img-responsive {
       // margin-top: 60px;
        padding-top: 5px;
    }
    

}

.img_header {
    margin-top: -60px;
}

.y4y-main-header .img-responsive {
    width: 116%;
}

#y4y-home{
 
    
 .header_font {
    font-size: 1.3em;
    }
}

.sub_page_header_adjust {
    margin-top: 168px;
}

.logo_pos222 {
    position: absolute;
    top: 8px;
    left: 16px;
    width: 34%;
}

