.logo_pos {
    position: absolute;
    margin-top: -16%;
    margin-left: 1%;
    transform: scale(0.6, 0.6);
    z-index: 1013;
}


#y4y-home {
    
    
    .header_font {
    font-size: 2.0em;
    }
    
    .doe-logo {
    transform: scale(0.5);
    margin-left: -4%;
    margin-top: -3%;
    padding-left: 22px;
}
    .search {
        padding-left:10px;
    }   
}



.y4y-main-header {
 .header_font.sub {

    left: 61%;
    top: 40.5%;
    font-size: 1.1em;

}
}


.navbar-right .dropdown-menu


{
    right:auto;
}


.img_header

{
    margin-top: 60px;
}

.navbar-default {
  position: fixed !important;
}  

.logo_pos222 {
    top: 16px;
}    

.y4y-main-header .img-responsive {
    padding-top: 0;
}

#y4y-home .logo_pos {
    margin-top: -35%;
}  
