.navbar-default {
    font-size: 1.2em;
}

.dropdown-menu .sub-menu {
    left: 99%;
}

.navbar-default {
    
    font-size: 1.1em;
    max-height: 30px;
}


.home_nav.navbar-default {
    max-height: none;
}

.navbar-default {
  position: fixed !important;
}  



.y4y-main-header .header_font.sub {
    left: 61%;
    top: 40.5%;
    font-size: 1.3em;
}

#y4y-home .y4y-main-header {
    margin-top: 0;
}

