.breadcrumb {
    margin: 0px;
}

.navbar-default {
    font-size: .87em;
}

.dropdown-menu .sub-menu {
    left: 99%;
    margin-left: 0px;
}


.btn-secondary

{
 height:29px;
    line-height: .2;
    
}

.nav > li > a

{
    padding-left: 11px;
    padding-right:11px;
}



.navbar-nav > li > a

{
     padding-top: 10px; 
     padding-bottom: 10px; 
}

.navbar-fixed-top .navbar-collapse

{
    max-height:none;
  background-color: #000;
}

.navbar-default {
//  position: absolute !important;
    font-size: 1em;  
}

.navbar-fixed-top {
  //  position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.dropdown-menu > li

{
   margin-top:-1px;
}

// small nav


@media (max-width: 1199px) /* this hack is only for the nav. do not put any other css in this section*/ {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 20px;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
    .navbar-default

    
    {
    background-color: #000 !important;
    }
    
    .navbar-nav > li > .dropdown-menu {

    
    
background-color: #000 !important;
    }
    
.navbar-nav > li > .dropdown-menu {

    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    position: static;
    float: none;
    width: auto;
    
}
    
   .dropdown-menu .sub-menu {
         //  margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    position: static;
    float: none;
    width: auto;
        
    }

    
 
}

.navbar-nav > li > a

{
     padding-top: 10px; 
     padding-bottom: 10px; 
}

.navbar-fixed-top .navbar-collapse

{
    max-height:none;
  background-color: #000;
}

.navbar-default {
    font-size: 1em;
    
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.dropdown-menu > li

{
    margin-top:-1px;

}

.logo_pos222 {
    top: 86px;
    left: 40px;
}

.home_nav.navbar-default, .navbar-default {
    position: absolute !important;
}

#y4y-home .y4y-main-header {
    margin-top: 3px;
}





